{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Entreprises</h1>
    <h2>Cette page affichera la liste des entreprises proposant un stage</h2>

    <ul>
    <h3>Ubisoft</h3> <br>
    <h3>Ankama</h3> <br>
    <h3>RIOT</h3> 
    </ul>
</div>
{% endblock %}
